* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comic Sans MS", 'sans-serif';
  overflow-x: hidden;
  color: #FE3867;
}


body {
  background: url("ceu.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}


main {
  max-width: 1200px;
  margin: 0.5rem auto;
  padding: 0 1rem;
  text-align: center;
}

.text{
    height: 150px;
}

.text h1{
    font-size: 100px;
    color: #FE3867;    
}

.form {
    width:100%;
    padding: 20px;
    margin: 10px;
    border: solid 1px;
    box-shadow: 0px 0px 0px 10px #FE3867;
    background-color: rgb(0, 0, 0, 0.8);
    position: relative;
    align-items: center;
}

.coloca{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  max-width: 400px; 
  margin: 0 auto 10px;
}


input{
    color: white;
    border: 2px solid #FE3867;
    background: rgb(0, 0, 0, 0.3);
    outline: none;
    padding: 10px;
    min-width: 220px;
    
}
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}

.botao{
    width: 100px;
    border: 2px solid #FE3867;
    margin: 30px auto 10px;
}

.destacado { 
    background-color: transparent; 
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.6);
    border-color: #62aeff;
}