* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: white;
}

main {
  max-width: 1200px;
  margin: 10rem auto 2rem;
  padding: 0 1rem;
}

section{
  display: flex;
  justify-content: center;
  position: relative;
}

.b_esc{
  background-color: 646464;
  width: 40px;
  height: 64px;
  position: relative;
  top: 160px;

}
.b_dir{
  background-color: 646464;
  width: 40px;
  height: 64px;
  position: relative;
  top: 160px;
}

.imagem{
  max-width: 50%;
}